<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ella Yu's IT 122 Webpage - Recipes</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

</head>
<body>
    <%- include('header') %>
    <div class="wrapper home">
        <h1>Recipes</h1>
        <!-- elements within the root node are managed by react -->
        <div id="root" data-testid="root"></div>

    </div>

    <script type="module" src="/js/index.js"></script>
</body>
</html>