<header>
    <nav>
        <p class="nav-title">Ella Yu's IT 122 Webpage</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
