<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ella Yu's IT 122 Webpage - About</title>
</head>
<body>
    <%- include('header') %>
    <div class="wrapper">
        <h1>About Ella</h1>
        <div class="content">
            <p>Ella Yu is a student at Seattle Central College. This page was created for her IT 122 course.</p>
            <p>She likes food and would like to make a cool web application with all her favorite recipes.</p>
        </div>
    </div>
</body>
</html>